.sample-fix {
    width: 100%;
    height: 70%;
    border-radius: 15%;
}

.sample-title {
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    margin-top: 2%;
    font-size: 100%;
    color: #f9dacd !important;
}

.sample-year {
    margin-top: -2%;
    @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
    font-size: 100%;
    font-family: 'Noto Serif', serif;
    color: #ffffff !important;
}

.grid-item {
    min-width: 50%;
}

@media only screen and (max-width: 1000px) {
    .grid-item {
        margin: auto;
        width: 90%;
        margin-bottom: 10%;  
    }
}

@media only screen and (max-width: 1000px) {
    .sample-fix {
        margin: auto;
        width: 100%;
        height: 100%;
        border-radius: 15%;
    }
}